@model AzureMLModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Model results</title>
</head>
<body>
  <h1>@Model.Message</h1>
  <h1>@Model.JsonObject</h1>
</body>
</html>